body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}
.con {
    position: relative;
    float: left;
    left: 50%;
    background: lightblue;
}
.btn-success {
    float: left;
    left: 50%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.img-rounded img {
    width: 38px;
    height: 38px;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}