<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <div th:insert="~{header :: copy}"> </div>
</head>
<body>

<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"/>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-md-12">


            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
            <hr>
            <form th:action="@{/publish}" method="post">
                <input type="hidden" name="_method" value="put" th:if="${id != null}">
                <input type="hidden" name="id" th:value="${id}" th:if="${id != null}">
                <div class="form-group">
                    <h4><label for="title">问题标题(简明扼要)</label></h4>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title == null ? '请输入问题标题...' : title}">
                </div>
                <div class="form-group">
                    <h4><label for="text">问题补充(必填，请按照右边格式要求)</label></h4>
                    <textarea  id="text" class="form-control" cols="30" rows="20" name="text" th:text="${text == null ? '请输入问题描述...' : text}"></textarea>
                </div>
                <div class="form-group">
                    <h4><label for="labels">添加标签:</label></h4>
                    <input type="text" class="form-control" id="labels" th:value="${tag == null ? '输入标签，用，分隔' : tag}" name="tag">
                </div>
                <div class="con">
                    <button type="submit" id="btn-publish" class="btn btn-success">发布</button>
                </div>
            </form>
            <!--<form th:if="${id != null}" th:action="@{/publish}" method="post">-->
                <!--<div class="form-group">-->
                    <!--<h4><label for="title">问题标题(简明扼要)</label></h4>-->
                    <!--<input type="text" class="form-control" id="ti" name="ti" th:value="${title}">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<h4><label for="text">问题补充(必填，请按照右边格式要求)</label></h4>-->
                    <!--<textarea  id="tx" class="form-control" cols="30" rows="20" name="tx" th:text="${text}"></textarea>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<h4><label for="labels">添加标签:</label></h4>-->
                    <!--<input type="text" class="form-control" id="tags" name="tags" th:value="${tag}">-->
                <!--</div>-->
                <!--<div class="con">-->
                    <!--<button type="submit" id="update" class="btn btn-success">发布</button>-->
                <!--</div>-->
            <!--</form>-->



        </div>



        <div class="col-lg-3 col-md-12 col-md-12">
            <h3>
                问题发起指南
            </h3><br>
                ·问题标题：请用简洁的语言描述您发布的问题，不超过25字<br>
                ·问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并可以提供相关的链接和图片资料等<br>
                ·添加标签：请添加一个或多个合适的标签，每个标签不超过10个字

        </div>
    </div>
</div>

</body>
</html>
